html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: calc(100vh - 4px);
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.add-character {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  border: solid 2px #2F962F;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 10px;
  padding-left: 6px;
}

.add-character a {
  text-decoration: none;
  padding: 8px 10px;
  color: #fff;
  background-color: #2F962F;
  display: inline-block;
}

#character_list ol {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  border: solid 2px #345296;
  border-top: none;
  border-left: none;
  border-radius: 0 0 10px 0;
  padding: 12px;
  margin: 0px;
}

#character_list li {
  list-style-type: none;
  padding-top: 12px;
  text-align: right;
}

#character_list input {
  width: 40px;
}

.melee {
  stroke: rgba(177, 54, 54, 0.4);
  stroke-width: 3px;
  fill: white;
  cursor: move;
}

.melee.incoming {
  stroke: rgba(177, 54, 54, 1);
}

.close {
  stroke: rgba(177, 54, 54, 0.4);
  stroke-width: 3px;
  fill: rgba(255, 0, 0, 0.1);
  cursor: move;
}

.medium {
  stroke: rgba(255, 174, 0, 0.4);
  stroke-width: 3px;
  fill: rgba(255, 174, 0, 0.1);
  cursor: move;
}

.long {
  stroke: rgba(255, 247, 0, 0.4);
  stroke-width: 3px;
  fill: rgba(255, 247, 0, 0.1);
  cursor: move;
}

.character {
  stroke: #AAA;
  stroke-width: 3px;
  fill: transparent;
  cursor: move;
}
