html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: calc(100vh - 4px);
  margin: 0;
  padding: 0;
}

.add-melee {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  border: solid 2px #2F962F;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 10px;
  padding-left: 6px;
}

.add-melee a {
  text-decoration: none;
  padding: 8px 10px;
  color: #fff;
  background-color: #2F962F;
  display: inline-block;
}

.melee {
  stroke: #AAA;
  stroke-width: 3px;
  fill: transparent;
  cursor: move;
}
